<div class="workspace">
    <div class="view active" data-me="1">
        <div class="navbar-top">
            <p class="title">Sobre</p>
            <div class="alert alert-success" role="alert" id="alert-success-pistolagem"> Dados foram gravados com sucesso</div> 
            <div class="alert alert-danger" role="alert" id="alert-failed-pistolagem"> Ocorreu um erro ao tentar gravar os dados</div>
        </div>
        <div class="content">
        </div>  
    </div>
</div>

